/* Background images from subtlepatterns.com */

body {
    padding: 50px;
    font: 14px Calibri, "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(../images/symphony.png) repeat fixed #fcfcfc;
}

a:hover {
    color: #503651;
}

.left {
    background: url(../images/subtle_surface.png) repeat fixed #f1eff2;
    margin: -3.5em -3.5em 1.5em -3.5em;
    padding: 2.5em 3.5em 2em 4.75em;
    box-shadow: 0 2px 10px 2px #ddd;
}

article {
    display: inline-block;
}

.skill h3 {
    margin: 0.65em 0; /*reset to base font size*/
}

.project {
    display: flex;
}

.thumbnail {
    background-color: white;
    box-shadow: 2px 2px 5px 0px #ddd;
}

.thumbnail img {
    width: 100%;
}

code {
    color: #5C63BB;
    overflow: scroll;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    header {
        padding-right: 1.5em;
    }

    .modal-dialog {
        width: 650px;
        margin: 30px auto;
    }

    .left {
        position: fixed;
        height: 100%;
        padding: 3.5em 1em 2em 4em;
        box-shadow: 2px 0 10px 2px #ddd;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
    .modal-body, .modal-header, .modal-footer {
        padding: 15px 30px;
    }
    .modal-header {
        padding-top: 30px;
    }
    .modal-footer {
        padding-bottom: 30px;
    }
}
